* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index-body{
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  background-color:aliceblue ;
  height: 2000px;
  overflow: scroll;
}
.sejarah-body {
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  background-color:aliceblue ;
  height: 2000px;
  overflow: scroll;
}
.biologi-body {
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  height: 1500px;
  overflow: scroll;
}
nav {
  display: block;
  width: 100%;
  padding: 20px;
}
header{
  margin: 20px;
}

.center {
  display: flex;
  justify-content: center;
  margin: 25px 20px;
}

.title {
	color: #5C6AC4;
  font-family: Arial, Helvetica, sans-serif;
}

.name {
    color: #8dc45c;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.sub-name {
  font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    transition: font-family 2s;
}

span:hover .sub-name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
strong {
  color: #bad877;
}

hr {
  border: 2px dashed #5C6AC4;
  margin-top: 20px;
}

.currentTime {
  color: #8dc45c;
}

.main-page-project {
  color: #8dc45c;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
  margin: auto;
  max-width: 500px;
}
.main-page-project:hover {
  color: #bad877;
}

.sejarah-nav{
  display: block;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color:#5C6AC4;
  box-shadow: 0 5px 8px rgba(0,0,0,0.2);

}
 .sejarah-nav li {
  margin: 0 5px;
  color: #8dc45c;
  list-style: none;
 }
 .sejarah-nav li a {
  color: #8dc45c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
 }
  .sejarah-nav li a:hover {
  color: #bad877;
 }
 .biologi-nav{
  display: block;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #5C6AC4;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
 }
.biologi-nav li {
    margin: 0 5px;
    list-style: none;
}
.biologi-nav li a {
  color: #8dc45c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.biologi-nav li a:hover {
  color: #bad877;
}



.sejarah-header {
  color: #8dc45c;
  margin: 20px 0 0 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.biologi-header {
  color: #8dc45c;
  margin: 20px 0 0 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-picture {
  border: 15px groove #8dc45c;
  border-radius: 50%;
  padding: 10px;
  margin: 20px 0px 0 0;
  overflow: hidden;
  box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}

.what {
  margin: 25px 20px;
}
.what p{
  color: #8dc45c;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.why {
  margin: 25px 20px;
}
.why p{
  color: #8dc45c;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 700px;
}

.list-header {
  color: #bad877;
  font-size: 30px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-weight: bold;
  margin: 20px 0 0 15px;
}

/*ribbon */
.term-3-nav {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}
.term-3-nav li {
  list-style: none;
}

.sejarah-ribbon {
  background-color:#5C6AC4 ;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sejarah-ribbon img{
  opacity: 100%;
  width: 100%;
  border-radius: 5px;
  transform: width 2s;
}
.sejarah-ribbon img:hover {
  opacity: 70%;
}
.sejarah-link {
  text-align: center;
  margin-top: 7px;
  padding: 10px 20px;
  background-color: aliceblue;
  border-radius: 5px;
}
.self-reflection-ribbon {
  background-color:#5C6AC4 ;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.self-reflection-ribbon img{
  opacity: 100%;
  width: 100%;
  border-radius: 5px;
  transform: width 2s;
}
.self-reflection-ribbon img:hover {
  opacity: 70%;
}
.self-reflection-link {
  text-align: center;
  margin-top: 7px;
  padding: 10px 20px;
  background-color: aliceblue;
  border-radius: 5px;
}
.self-reflection-link a{
  color:#8dc45c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration:none ;
}
.sejarah-link a{
  color:#8dc45c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration:none ;
}
.sejarah-link a:hover{
  color:#bad877;
}
.self-reflection-link a:hover{
  color: #bad877;
}

/* top bar */
.top-bar {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 10;
  background-color:aliceblue;
  border-bottom:5px solid #5C6AC4;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
}
.top-bar-nav{
  margin-left: auto;
  margin-top: 5px;
}
.top-bar-ul{
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}
.top-bar-ul li{
  list-style: none;
  margin: 0 20px;
  padding: 0 20px;
}
.top-bar-ul li a{
  color: #8dc45c;
  text-decoration: none;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.top-bar-ul li a:hover{
  color:#bad877 ;
}
.main-title {
  color: #8dc45c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
}


/* poster */
.poster-div {
  display: flex;
  position: sticky;
  top: 70px;
  float: right;
  max-width: 40%;
}
.poster {
  opacity: 1;
  max-width: 100%;
  min-width: 200px;
}
.poster-text {
  opacity: 1;
  display: block;
  position: absolute;
  top: 100%;
  right: 67px;
  max-width: 40%;
  min-width: 200px;
  color: #5C6AC4;
}
.poster:hover {
  opacity: 70%;
}
.poster-content {
  max-width: 60%;
}

figcaption {
  position: relative;

}

/*sejarah Table */
.why-table-div {
  width: 100%;
  padding: 20px;
}
.why-table {
  width: 100%;
  border-collapse: collapse;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}
th, td {
  border:  1px solid #ccc;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #5C6AC4;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #bad877;
}
tr:hover {
  background-color: #ddd;
}


/* Obi Board */
.biologi-img-div {
  opacity: 1;
  display: flex;
  position: sticky;
  top: 90px;
  margin-top: 20px;
}
.obi-board {
  opacity: 1;
  max-width: 170%;
  margin-left: -37%;
}
.obi-board:hover {
  opacity: 0.7;
}

.obi-board-content {
  min-height: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.obi-decor-left h4{
  color: #8dc45c;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  left: 25%;
}
.obi-decor-right h4{
  color: #8dc45c;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  left: 40%;
}
.obi-decor-left{
  position: relative;
  height: 400px;
  flex: 1;
}
.obi-decor-what {
  position: absolute;
  top: 15%;
}
.obi-decor-where {
  position: absolute;
  top: 44%;
}
.obi-decor-when {
  position: absolute;
  top: 80%;
}
.obi-decor-center {
  flex: 1;
}
.obi-decor-center img {
  background-color: transparent;
}
.obi-decor-right {
  position: relative;
  height: 400px;
  flex: 1;
}
.obi-decor-who{
  position: absolute;
  top: 15%;
}
.obi-decor-why{
  position: absolute;
  top: 44%;
}
.obi-decor-how{
  position: absolute;
  top: 80%;
}

.obi-explanation {
  display: flex;
}
.obi-explanation-left, .obi-explanation-right {
  flex: 1;
}
.obi-explanation-right img {
  width: 100%;
  display: flex;
  position: sticky;
  top: 10%;
}


.obi-explanation-table-div {
  width: 100%;
  padding: 20px;
}

.obi-explanation-table {
  width: 100%;
  border-collapse: collapse;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}

.obi-explanation-what {
  margin: 25px 20px;
}
.obi-explanation-what a, .obi-explanation-what p{
  color: #8dc45c;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.self-reflection-list {
 list-style: none; 
}
.self-reflection-list li {
  padding: 5px 0;
}