* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1d1f30 ;
  height: 2000px;
}
nav {
  display: block;
  width: 100%;
  background-color: #26395d;
  padding: 20px;
}
header{
  margin: 20px;
}

.main-title {
  color: #8dc45c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
}
.title {
	color: #5C6AC4;
  font-family: Arial, Helvetica, sans-serif;
}

.name {
    color: #8dc45c;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.sub-name {
    opacity: 0%;
    width: 0px;
    overflow: hidden;
    transition: opacity 2s ease, width 3s ease;
}

span:hover .sub-name {
  opacity: 1;
  width: 200px;
  font-style: italic;
}
strong {
  color: #bad877;
}

.currentTime {
  color: #8dc45c;
}

.main-page-project {
  color: #8dc45c;
  background-color:#1d1f30;
  border: 2px, dashed, #5C6AC4;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
  margin: auto;
  max-width: 500px;
}
.main-page-project:hover {
  border: 2px, solid, #5C6AC4;
}

.main-page-nav li{
  margin: 20px;
  color: #8dc45c;
}
.main-page-nav ul{
  margin-top: 50px
}

.main-page-nav li a {
  color: #8dc45c;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-decoration: none;
 }
 .main-page-nav li a:hover {
  color: #bad877;
 }

 .other-nav li {
  margin: 0 20px;
  color: #8dc45c;
 }
 .other-nav li a {
  color: #8dc45c;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-decoration: none;
 }
  .other-nav li a:hover {
  color: #bad877;
 }


.sejarah-header {
  color: #8dc45c;
  margin: 20px 0 0 20px;
}

.profile-picture {
  border: 15px dashed #8dc45c;
  border-radius: 10%;
  padding: 10px;
  margin: 20px 0px 0 0;
  overflow: hidden;
}
 .poster {
  display: block;
  max-width: 500px;
  margin: auto;
}


.what {
  margin: 25px 20px;
}
.what p{
  color: #8dc45c;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.why {
  margin: 25px 20px;
}
.why p{
  color: #8dc45c;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}