body{
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1d1f30 ;
}

.title {
	color: #5C6AC4;
}

.name {
    color: #8dc45c;
}

.sub-name {
    opacity: 0%;
    width: 0px;
    overflow: hidden;
    transition: opacity 2s ease, width 3s ease;
}

span:hover .sub-name {
  opacity: 1;
  width: 200px;
  font-style: italic;
}

.currentTime {
  color: #8dc45c;
}

h2 {
  color: #8dc45c;
  border: 2px, dashed, #5C6AC4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
  margin: auto;
  max-width: 500px;
}
h2:hover {
  border: 2px, solid, #5C6AC4;
}

.main-page-nav li{
  margin: 50px auto;
  color: #8dc45c;
}
 li a {
  color: #8dc45c;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-decoration: none;
 }